<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <form class="form-horizontal" method="post" action="/svg/generate">
    <div class="form-group row">
        <div class="form-group col-xs-12">
                    <input type="text" name="nombre" class="form-control" placeholder="Nombre" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-6">
          <input type="text" name="concepto" class="form-control" placeholder="Concepto" />
        </div>
        <div class="form-group col-xs-6">
            <input type="text" name="culto"  class="form-control" placeholder="Culto" />
        </div>
    </div>
      <div class="row">
          <div class="form-group col-xs-12">
        <input type="text" name="cita"  class="form-control" placeholder="Cita" />
      </div>
  </div>
      <div class="row">
            <div class="form-group col-xs-1">
              <label class="control-label col-sm-1" for="fortaleza_num">Fortaleza</label>
              <input type="text" name="fortaleza"  class="form-control"  />
            </div>
            <div class="form-group col-xs-4">
                <label class="control-label col-sm-2" for="fortaleza_desc">Descripcion</label>
                <input type="text" name="des_fortaleza"  class="form-control" placeholder="Descripcion" />
            </div>
    </div>
    <div class="row">
      <input type="submit" value="Crear hoja" />
    </div>
  </form>
</body>
</html>
